/* Fuentes Personalizadas */
@font-face {
    font-family: 'MADE TOMMY Soft Regular';
    src: url('css/fonts/MADE TOMMY Soft Regular.otf') format('opentype');
}

@font-face {
    font-family: 'MADE TOMMY Medium';
    src: url('css/fonts/MADE TOMMY Soft Medium.otf') format('opentype');
}

/* Reset de Estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos Generales */
body {
    font-family: 'MADE TOMMY Soft Regular', sans-serif;
    background-color: #f8f8f8;
}



/* Header y Navegación */
header {
    background-color: #f8f8f8;
    padding: 20px 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative; 
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav-list li {
    margin: 0 20px;
}

.nav-list a {
    text-decoration: none;
    color: #222B18;
    transition: color 0.3s;
}

.nav-list a:hover {
    color: #82765F;
}

.nav-list a.selected {
    font-weight: bold;
    color: #222B18;
}

.logo img {
    max-height: 50px;
}
.cart-container {
    position: absolute; 
    right: 20px; 
}

.cart-icon {
    font-size: 24px; 
    color: #222B18; 
    transition: color 0.3s; 
}

.cart-icon:hover {
    color: #82765F; 
}

main h1 {
    text-align: center;  
    margin-bottom: 20px; 
    color: #222B18;
}

main p {
    text-align: center;          
    max-width: 600px;           
    margin: 0 auto;             
    line-height: 1.5;           
    padding: 0 20px;            
    color: #222B18;
}

/* Sección Hero */
.hero-section {
    background-color: #ffffff;
    border-radius: 20px;
    margin: 20px auto;
    padding: 0px 20px;
    max-width: 85%;
    position: relative;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text-content {
    flex: 1 1 500px;
    text-align: left;
    padding-left: 40px;
}

.text-content h1 {
    font-size: 3.5rem;
    color: #222B18;
    line-height: 1.2;
    letter-spacing: 2px;
    text-align: left;
}

.text-content .highlight {
    font-family: 'MADE TOMMY Medium';
    font-weight: bold;
    font-size: 5rem;
    color: #7B8649;
    letter-spacing: 2px;
}

.text-content p {
    font-size: 1.2rem;
    margin: 20px 0;
    color: #222B18;
    text-align: left;
}

.buy-button {
    display: inline-block;
    background-color: #D49F41;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #B07C2A;
}

.image-content {
    flex: 1 1 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.extra-image {
    width: 100%;
    max-width: 700px;
    height: auto;
}

/* Sección de Tipos de Café */
.coffee-types {
    text-align: center;
    margin: 40px auto;
    max-width: 1200px;
    padding: 20px;
}

.coffee-types h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #222B18;
    letter-spacing: 2px;
}

.coffee-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.coffee-item {
    text-align: center;
    width: 300px;
}

.coffee-img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.coffee-item:hover img {
    transform: scale(1.1) rotate(2deg);
}
.coffee-item h3 {
    font-size: 1.5rem;
    color: #7B8649;
    margin: 10px 0;
}

.coffee-item p {
    font-size: 1rem;
    color: #222B18;
    margin: 0 15px;
}

/* Sección de Cajas (Catálogo) */
.section-caja {
    background-color: #f8f8f8;
    text-align: center;
    padding: 40px;
    margin: 20px auto;
    max-width: 1200px; 
}
.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; 
    margin: 30px;
}



/* Animación para las cajas (flip 3D) */
.box {
    perspective: 1000px;
    width: 250px;
    height: 300px;
    margin: 0 auto;
    cursor: pointer;
}

.box-front, .box-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 15px;
    transition: transform 0.6s ease-in-out;
}

.box-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.box-back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    transform: rotateY(180deg);
    padding: 30px;
}

.box.flipped .box-front {
    transform: rotateY(180deg);
}

.box.flipped .box-back {
    transform: rotateY(360deg);
}

.box-front img {
    width: 200px;
    height: auto;
}

.box-back {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    background-color: white;
    transform: rotateY(180deg);
    padding: 30px;
}

.add-to-cart {
    text-decoration: none;
    background-color: #D49F41; 
    color: #fff; 
    font-size: 1rem; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'MADE TOMMY Soft Regular', sans-serif;
}

.add-to-cart:hover {
    background-color: #B07C2A; 
}


/* Formulario de Contacto */
.contact-form, .contact-info {
    background-color: #ffffff;
    border-radius: 20px;
    margin: 20px auto;
    padding: 40px;
    max-width: 600px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #222B18;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'MADE TOMMY Soft Regular', sans-serif;
    
}

textarea {
    height: 150px;
}

.submit-button {
    background-color: #D49F41;
    color: #fff;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'MADE TOMMY Soft Regular', sans-serif;
}

.submit-button:hover {
    background-color: #B07C2A;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 10px;
    color: #222B18;
}

/* carrito */
.cart-table {
    width: 80%; 
    margin: 20px auto; 
    border-collapse: collapse;
}

.cart-table th, .cart-table td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.cart-table img {
    display: block;
    margin: 0 auto;
}

.cart-table th {
    background-color: #f0f0f0;
}

.cart-table td input[type="number"] {
    width: 60px;
    padding: 5px;
    text-align: center;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    border-top: 2px solid #e0e0e0;
    font-size: 1.2rem;
    text-align: right;
}

#cart-total {
    font-size: 1.5rem;
    color: #222B18;
}

.remove-btn {
    text-decoration: none;
    background-color: #D49F41; 
    color: #fff; 
    font-size: 1rem; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'MADE TOMMY Soft Regular', sans-serif;
}

.remove-btn:hover {
    background-color:#B07C2A;
}

.whatsapp-button {
    position: relative;
    display: inline-block;
    background-color:#7B8649; 
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.whatsapp-button:hover {
    background-color:#82765F;
}



/* Media Queries para Responsividad */
@media (max-width: 1200px) {
    .hero-content {
        flex-direction: row;
    }
}
@media (min-width: 993px) {
    .box {
        width: calc(25% - 20px);
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .box {
        width: calc(33.33% - 20px); 
    }
}
@media (max-width: 768px) {
    .box {
        width: 100%; 
        max-width: 300px;
    }
    
    .box-container {
        justify-content: center; 
    }
}